@import '../colors.scss';

.menu {
  width: 30vw;
  height: 30vw;
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;

  svg {
    position: absolute;
    bottom: 7%;
    left: 50%;
    transform: translateX(-50%);
  }

  .dot {
    transition: transform .18s ease-in-out;
    stroke: $frame;
  }

  .arc {
    fill: $frame;
  }

  &.opened {
    .dot {
      transform: translateY(15%);
      stroke: $highlight;
    }
    .arc {
      fill: $highlight;
    }
  }

  &.closed {
    .dot {
      transform: translateY(0);
    }
  }
}
