.dial {
    --dialRotation: 0deg;
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(var(--dialRotation));
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 50%;
    user-select: none;
    clip-path: circle(48% at 50% 50%);
    overflow: hidden;
    cursor: pointer;

    backface-visibility: hidden;
}