@import '../colors.scss';

.timewheel {
  width: 100vw;
  height: 100vw;
  position: relative;
  overflow: hidden;

  .wheel {
    position: absolute;

    .dot {
      width: 4vw;
      height: 4vw;
      border-radius: 50%;
      position: absolute;

      left: 50%;
      transform: translateX(-50%);
    }
  }

  .minute {
    z-index: 3;

    .dot {
      top: 1.3rem;
      background-color: #EB00FF;
    }
  }

  .hour {
    z-index: 4;
    width: 75%;
    height: 75%;

    .dot {
      top: 2rem;
      background-color: #0094FF;
    }
  }

  .arc, .arc::after {
    --dialRotation: 0deg;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(var(--dialRotation));
    box-sizing: border-box;
    width: 80vw;
    height: 80vw;
    border: none;
    border-radius: 50%;
    user-select: none;
    clip-path: circle(48% at 50% 50%);
    overflow: hidden;
    cursor: pointer;
    backface-visibility: hidden;
    background-color: $frame;
  }
  .arc::after {
    content: '';
    clip-path: circle(37% at 50% 50%);
    background-color: black;
  }

  .timeinput {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
}

