@import './colors.scss';


html, body {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  font-size: 18px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'Jura', monospace;
  font-weight: 300;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  background-color: $background;
  position: fixed;

}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;

  height: 100vh;
  width: 100vw;
  overflow: hidden;

  position: relative;
  z-index: 5;

  transition: .5s filter ease-in-out;
}

.connected {
  filter: blur(0);
}
.disconnected {
  filter: blur(10px);
}
